.app-empty {
  width: 100%;
  padding: 40px 0;
  .title {
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 14px;
  }
  .empty-icon {
    height: 140px;
    background: url(../images/noresult.svg) no-repeat center center;
    background-size: auto 100%;
  }
}