$ratio: 1;

.progress-chart {
  perspective: 1000px*$ratio;
  perspective-origin: 50% 50%;
  backface-visibility: visible;

  &.grid {
    flex: 1;
    flex-direction: row;

    .exercise {
      flex: 0 0 100%;
      display: flex;

      .bar {
        & + .bar {
          margin-left: 12px*$ratio;
        }
      }
    }
  }

  .bar {
    position: relative;
    height: 140px*$ratio;
    transition: all 0.3s ease-in-out;
    transform: rotateX(60deg) rotateY(0deg);
    transform-style: preserve-3d;

    .face {
      position: relative;
      width: 100%;
      height: 48px*$ratio;
      background-color: rgba(254, 254, 254, 0.3);

      &.side-a, &.side-b {
        width: 48px*$ratio;
      }
    }

    .side-a {
      transform: rotateX(90deg) rotateY(-90deg) translateX(48px*$ratio) translateY(24px*$ratio) translateZ(24px*$ratio);
    }

    .side-b {
      transform: rotateX(90deg) rotateY(-90deg) translateX(96px*$ratio) translateY(24px*$ratio) translateZ(-24px*$ratio);
      position: absolute;
      right: 0;
    }

    .side-0 {
      transform: rotateX(90deg) rotateY(0) translateX(0) translateY(24px*$ratio) translateZ(-24px*$ratio);
    }
    .side-1 {
      transform: rotateX(90deg) rotateY(0) translateX(0) translateY(24px*$ratio) translateZ(72px*$ratio);
    }
    .top {
      transform: rotateX(0deg) rotateY(0) translateX(0) translateY(96px*$ratio) translateZ(48px*$ratio);
    }
    .floor {
      box-shadow: 0 0.24px*$ratio 14.4px*$ratio rgba(0, 0, 0, 0.3), 14.4px*$ratio -12px*$ratio 72px*$ratio rgba(0, 0, 0, 0.3), 24px*$ratio -24px*$ratio 192px*$ratio #fefefe;
    }

    &.yellow {
      .side-a, .growing-bar {
        background-color: rgba(241, 196, 15, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio rgba(241, 196, 15, 0.8);
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio rgba(241, 196, 15, 0.8);
      }
    }

    &.navy {
      .side-a, .growing-bar {
        background-color: rgba(10, 64, 105, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio rgba(10, 64, 105, 0.8);
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio rgba(10, 64, 105, 0.8);
      }
    }

    &.red {
      .side-a, .growing-bar {
        background-color: rgba(236, 0, 140, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio rgba(236, 0, 140, 0.8);
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio rgba(236, 0, 140, 0.8);
      }
    }

    &.cyan {
      .side-a, .growing-bar {
        background-color: rgba(87, 202, 244, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio #57caf4;
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio #57caf4;
      }
    }

    &.lime {
      .side-a, .growing-bar {
        background-color: rgba(118, 201, 0, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio #76c900;
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio #76c900;
      }
    }

    &.white {
      .side-a, .growing-bar {
        background-color: rgba(254, 254, 254, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio #fefefe;
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio #fefefe;
      }
    }

    &.gray {
      .side-a, .growing-bar {
        background-color: rgba(68, 68, 68, 0.6);
      }

      .side-0 .growing-bar {
        box-shadow: -12px*$ratio -36px*$ratio 96px*$ratio #444;
      }

      .floor .growing-bar {
        box-shadow: 0 0 48px*$ratio #444;
      }
    }

    &.yellow-face .face {
      background-color: rgba(241, 196, 15, 0.2);
    }

    &.lime-face .face {
      background-color: rgba(118, 201, 0, 0.2);
    }

    &.red-face .face {
      background-color: rgba(236, 0, 140, 0.2);
    }

    &.navy-face .face {
      background-color: rgba(10, 64, 105, 0.2);
    }

    &.cyan-face .face {
      background-color: rgba(87, 202, 244, 0.2);
    }

    &.gray-face .face {
      background-color: rgba(68, 68, 68, 0.2);
    }

    &.lightGray-face .face {
      background-color: rgba(145, 145, 145, 0.2);
    }

    &.lighterGray-face .face {
      background-color: rgba(145, 145, 145, 0.05);
    }
  }

  .growing-bar {
    transition: all 0.3s ease-in-out;
    background-color: rgba(236, 0, 140, 0.6);
    width: 100%;
    height: 48px*$ratio;
  }
}