.home-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;

  .originImage, .imageThumb {
    display: none;
  }
  
  .blurCanvas {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .thumbCanvas {
    @extend .blurCanvas;
    opacity: 1;
    transition: opacity .3s;
  }
}
