.home-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;

  .originImage, .imageThumb {
    display: none;
  }
  
  .blurCanvas {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .thumbCanvas {
    @extend .blurCanvas;
    opacity: 1;
    transition: opacity .3s;
  }
}

.app-brand {
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-size: 28px;
  position: absolute;
  left: 86px;
  top: 30px;
}

.home-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.72);
  opacity: 0;
  transition: opacity .8s;

  &.dark {
    opacity: 1;
  }
}
