@keyframes circle-rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes circle-zoom {
  0% {
    transform: scale(1.8)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes circle-zoom-in {
  0% {
    opacity: 0;
    transform: scale(1.4) rotate(0deg);
  }
  
  100% {
    opacity: 1;
    transform: scale(1) rotate(180deg);
  }
}

@keyframes avatar-zoom-out {
  0% {
    transform: scale(.4) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes avatar-up {
  to {
    transform: translateY(-100px);
  }
}

@keyframes avatar-scale {
  to {
    transform: scale(.84);
  }
}

.home {
  font-size: 0;
}

.home-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color .6s;

  &.dark {
    background-color: rgba(0, 0, 0, 0.68);
  }

  .tween {
    position: absolute;
    left: 0;
    top: 0;
  }

  .content-banner {
    font-size: 14px;
    height: 500px;
    overflow: hidden;
    position: relative;

    .app-logo {
      height: 42px;
      width: 42px;
      background-size: 42px 42px;
      position: absolute;
      left: 30px;
      top: 30px;
      transition: transform ease-in-out 3s;

      &.running {
        transform: rotate(2160deg);
      }
    }

    .app-brand {
      height: 42px;
      background-size: auto 26px;
      position: absolute;
      left: 84px;
      top: 30px;
    }

    .circleLoop {
      height: 80px;
      width: 80px;
      position: absolute;
      left: 50%;
      top: 200px;
      margin: -40px 0 0 -40px;
      background: url(../images/circle.svg) no-repeat;
      background-size: 100% 100%;
      transform: scale(1.8);
      transition: transform .2s;

      &.hide {
        display: none;
      }
      
      &.running {
        animation: circle-rotate linear 1s infinite,
        circle-zoom .2s;
      }
    }

    img {
      display: none
    }

    .avatar {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 50%;
      top: 200px;
      margin: -60px 0 0 -60px;

      &.hide {
        display: none;
      }

      &.upper {
        animation: avatar-up ease-in-out 1s both;
        .wrap {
          animation: avatar-scale ease-in-out 1s both;
        }
      }

      &.running {
        display: block;
        animation: avatar-zoom-out 1s;
      }

      .wrap {
        width: 132px;
        height: 132px;
        position: absolute;
        left: -6px;
        top: -6px;
        
        .halo {
          background-color: #fff;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 1s;
  
          &.show {
            opacity: .2;
          }
        }
  
        .imgr {
          position: absolute;
          left: 6px;
          top: 6px;
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 100%;
          transition: all 1s;
  
          &.fire {
            box-shadow: 0 0 22px rgba(246, 77, 20, .8);
          }
          
          img {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 100%;
          }
        }
      }


      .textNode {
        color: #fff;
        width: 500px;
        text-align: center;
        left: 50%;
        margin-left: -250px;
        position: absolute;
        top: 144px;
        display: none;

        &.show {
          display: block;

          .userName {
            animation: fadeInUp 1s 1s both;
          }

          .motto {
            animation: fadeInUp 1s 1.3s both;
          }
        }

        .userName {
          font-size: 24px;
          margin-bottom: 15px;
        }

        .userName, .motto {
          opacity: 0;
        }
      }
    }

    .menu {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 60px;
      text-align: center;
      opacity: 0;

      &.show {
        animation: fadeInUp 1s 1.8s both;
      }

      .item {
        display: inline-block;
        vertical-align: middle;
        color: rgba(255, 255, 255, 0.6);
        width: 68px;
        height: 68px;
        line-height: 68px;
        margin: 0 35px;
        border-radius: 100%;
        cursor: pointer;
        text-decoration: none;
        border: 6px solid transparent;
        transition: border .3s;
        position: relative;
        
        &:hover:after {
          content: "";
          display: block;
          height: 70px;
          width: 70px;
          position: absolute;
          left: -2px;
          top: -2px;
          background: url(../images/circle.svg) no-repeat;
          background-size: 100% 100%;
          animation: circle-zoom-in ease .6s;
        }
        
        &.active {
          color: #fff;

          &:after {
            display: none;
          }

          border: 6px solid rgba(255, 255, 255, .1);
        }
      }
    }

    .arrowDown {
      position: absolute;
      left: 50%;
      bottom: 30px;
      color: rgba(255, 255, 255, 0.76);
      font-size: 14px;
      margin-left: -7px;
      animation: upDownMove 1.2s ease-in-out infinite alternate;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .content-wrap {
    display: none;
    
    .content-main {
      width: 100%;
      min-height: 300px;
      position: relative;
    }

    &.scrollable {
      display: block;
    }
  }
}
