@keyframes circle-rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes circle-zoom {
  0% {
    transform: scale(1.8)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes circle-zoom-in {
  0% {
    opacity: 0;
    transform: scale(1.4) rotate(0deg);
  }
  
  100% {
    opacity: 1;
    transform: scale(1) rotate(180deg);
  }
}

@keyframes avatar-zoom-out {
  0% {
    transform: scale(.4) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes avatar-up {
  to {
    transform: translateY(-100px);
  }
}

@keyframes avatar-scale {
  to {
    transform: scale(.84);
  }
}

.home {
  font-size: 0;
}

.home-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color .8s;

  &.dark {
    background-color: rgba(0, 0, 0, 0.72);
  }

  .tween {
    position: absolute;
    left: 0;
    top: 0;
  }

  .content-banner {
    font-size: 14px;
    height: 500px;
    overflow: hidden;
    position: relative;

    .app-logo {
      height: 42px;
      width: 42px;
      background-size: 42px 42px;
      position: absolute;
      left: 30px;
      top: 30px;
      transition: transform ease-in-out 3s;

      &.running {
        transform: rotate(2160deg);
      }
    }

    .app-brand {
      height: 42px;
      line-height: 42px;
      color: #fff;
      font-size: 28px;
      position: absolute;
      left: 84px;
      top: 30px;
    }

    .circleLoop {
      height: 80px;
      width: 80px;
      position: absolute;
      left: 50%;
      top: 200px;
      margin: -40px 0 0 -40px;
      background: url(../images/circle.svg) no-repeat;
      background-size: 100% 100%;
      transform: scale(1.8);
      transition: transform .2s;

      &.hide {
        display: none;
      }
      
      &.running {
        animation: circle-rotate linear 1s infinite,
        circle-zoom .2s;
      }
    }

    img {
      display: none
    }

    .avatar {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 50%;
      top: 200px;
      margin: -60px 0 0 -60px;

      &.hide {
        display: none;
      }

      &.upper {
        animation: avatar-up ease-in-out 1s both;
        .wrap {
          animation: avatar-scale ease-in-out 1s both;
        }
      }

      &.running {
        display: block;
        animation: avatar-zoom-out 1s;
      }

      .wrap {
        width: 132px;
        height: 132px;
        position: absolute;
        left: -6px;
        top: -6px;
        
        .halo {
          background-color: #fff;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 1s;
  
          &.show {
            opacity: .2;
          }

          &.playing {
            opacity: 1;
            transform: scale(1.3);
            background: url(../images/cd.png) no-repeat;
            background-size: 100% 100%;
            box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .6);
          }
        }
  
        .imgr {
          position: absolute;
          left: 6px;
          top: 6px;
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 100%;
          transition: all 1s;
  
          &.fire {
            box-shadow: 0 0 22px rgba(246, 77, 20, .8);
          }
          
          img {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 100%;
          }
        }

        .album {
          @extend .imgr;
          animation: circle-rotate linear 20s infinite;
          opacity: 0;

          &.playing {
            opacity: 1;
          }
        }
      }


      .textNode {
        color: #fff;
        width: 500px;
        text-align: center;
        left: 50%;
        margin-left: -250px;
        position: absolute;
        top: 144px;
        display: none;

        &.show {
          display: block;

          .userName {
            animation: fadeInUp 1s 1s both;
          }

          .motto {
            animation: fadeInUp 1s 1.3s both;
          }
        }

        .userName {
          font-size: 24px;
          margin-bottom: 15px;
        }

        .userName, .motto {
          opacity: 0;
        }
      }
    }

    .menu {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 60px;
      text-align: center;
      opacity: 0;

      &.show {
        animation: fadeInUp 1s 1.8s both;
      }

      .item {
        display: inline-block;
        vertical-align: middle;
        color: rgba(255, 255, 255, 0.6);
        width: 68px;
        height: 68px;
        line-height: 68px;
        margin: 0 35px;
        border-radius: 100%;
        cursor: pointer;
        text-decoration: none;
        border: 6px solid transparent;
        transition: border .3s;
        position: relative;
        font-size: 16px;
        
        &:hover:after {
          content: "";
          display: block;
          height: 70px;
          width: 70px;
          position: absolute;
          left: -2px;
          top: -2px;
          background: url(../images/circle.svg) no-repeat;
          background-size: 100% 100%;
          animation: circle-zoom-in ease .6s;
        }
        
        &.active {
          color: #fff;

          &:after {
            display: none;
          }

          border: 6px solid rgba(255, 255, 255, .1);
        }
      }
    }

    .arrowDown {
      position: absolute;
      left: 50%;
      bottom: 30px;
      color: rgba(255, 255, 255, 0.76);
      font-size: 14px;
      margin-left: -7px;
      animation: upDownMove 1.2s ease-in-out infinite alternate;
      display: none;

      &.show {
        display: block;
      }
    }

    #music {
      width: 900px;
      height: 64px;
      position: absolute;
      left: 50%;
      bottom: 180px;
      margin-left: -400px;
      z-index: 99;
      opacity: 0;

      &.show {
        animation: fadeInUp 1s .3s both;
      }

      .musicControl {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 50%;
        margin-left: -70px;
        bottom: 84px;
        background: url(../images/play.svg) no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        opacity: .6;
        transition: opacity .3s;

        &.right {
          margin-left: 0;
          left: 920px;
          bottom: 12px;
        }

        &:hover {
          opacity: 1;
        }

        &.pause {
          background-image: url(../images/pause.svg);
        }
      }

      .cover {
        width: 80px;
        height: 80px;
        position: absolute;
        top: -8px;
        left: -100px;
        box-shadow: 0 3px 14px -2px rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    .calibration {
      width: 44px;
      height: 140px;
      position: absolute;
      right: 90px;
      top: 50%;
      margin-top: -70px;
      padding-left: 18px;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: space-between;
      display: none;

      &.show {
        display: flex;
        animation: fadeInLeft .6s 1.3s both;
      }

      i {
        display: block;
        height: 0px;
        width: 12px;
        border-top: 1px solid #fff;
        flex-grow: 0;
        opacity: .5;

        &:nth-child(1), &:nth-last-child(1) {
          opacity: 0.1;
        }

        &:nth-child(2), &:nth-last-child(2) {
          opacity: 0.2;
        }

        &:nth-child(3), &:nth-last-child(3) {
          opacity: 0.3;
        }

        &:nth-child(4), &:nth-last-child(4) {
          opacity: 0.4;
        }

        &.long {
          width: 26px;
        }
      }
    }

    .volume {
      width: 44px;
      height: 240px;
      position: absolute;
      right: 40px;
      top: 50%;
      margin-top: -120px;
      color: #fff;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      display: none;
      
      &.show {
        display: block;
        animation: fadeInLeft .6s 1.5s both;
      }

      .scroller {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(108px);
      }

      .num {
        width: 100%;
        text-align: center;
        font-size: 16px;
        height: 24px;
        line-height: 24px;
      }
    }
  }

  .content-wrap {
    display: none;
    
    .content-main {
      width: 100%;
      min-height: 300px;
      position: relative;
    }

    &.scrollable {
      display: block;
    }
  }
}
