.draw-board {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 320px;
  
  .origin-image {
    display: none;
  }

  .board-wrap {
    background: url(../images/bg.gif);
  
    canvas {
      display: block;
      cursor: url(../images/pencil.png), pointer;
    }
  }

  .panel {
    height: 48px;
    background-color: #37383c;
    margin: 20px 0 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
    .label {
      font-size: 13px;
      margin-right: 5px;
    }
    
    .bgDot, .brushDot {
      cursor: pointer;
      height: 16px;
      width: 16px;
      background-color: #ddd;
      border-radius: 2px;
      
      &.active {
        box-shadow: 0 6px 12px -2px rgba(0, 0, 0, .8);
      }
    }
    
    .brushDot {
      border-radius: 100%;
    }

    .imgBg, .brush {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      
      input {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        opacity: 0;
      }
    }

    .brush {
      overflow: visible;

      .size-box {
        color: #333;
        position: absolute;
        left: 14px;
        top: 40px;
        width: 260px;
        height: 60px;
        box-sizing: border-box;
        padding: 27px 60px 27px 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 6px 20px -4px rgba(0, 0, 0, .3);
        border-top-left-radius: 0;
        display: none;

        &.show {
          display: block;
        }

        .progress-bar {
          width: 100%;
          height: 100%;
          background-color: #eee;
          border-radius: 3px;

          .inner {
            height: 100%;
            width: 25%;
            background-color: #8AC7FF;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: relative;

            .dot {
              display: block;
              height: 12px;
              width: 12px;
              border: 2px solid #fff;
              background-color: #8AC7FF;
              border-radius: 100%;
              position: absolute;
              right: -7px;
              top: 50%;
              margin-top: -8px;
              box-sizing: content-box;
              box-shadow: 0 3px 12px -2px rgba(0, 0, 0, .3);
            }
          }
        }

        &:after {
          content: "";
          display: block;
          height: 0;
          width: 0;
          border: 4px solid transparent;
          border-color: transparent transparent #fff #fff;
          position: absolute;
          left: 0;
          top: -8px;
        }

        .num {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
    
    .group {
      padding: 0 20px;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      .label, .imgBg, .brush, .bgDot, .brushDot {
        margin-right: 10px;
      }

      & + .group {
        border-left: 1px solid #333438;
      }
    }
  }
  
  .control-panel {
    width: 400px;
    height: 42px;
    padding: 20px 0 0;
    margin: 0 auto;
    display: flex;

    button {
      height: 42px;
      text-align: center;
      display: block;
      line-height: 42px;
      color: #fff;
      background-color: #b9c5d2;
      border: none;
      outline: none;
      width: 100px;
      cursor: pointer;
      border-right: 1px solid #2c85e1;
      transition: background-color .3s;

      &:first-child {
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;
      }

      &:last-child {
        border-top-right-radius: 21px;
        border-bottom-right-radius: 21px;
        border-right: none;
      }
      
      &:hover {
        background-color: #9aa4af;
      }

      &.fn-btn {
        background-color: #2f92f8;
        &:hover {
          background-color: #2c85e1;
        }
      }
    }
  }
}