@import './time.scss';

.home-tools {
  width: 1200px;
  margin: 0 auto;

  .row-double {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.wrap {
      flex-wrap: wrap;
    }

    .tools-card {
      width: 420px;
      flex-shrink: 0;

      &.pb15 {
        padding-bottom: 15px;
      }
      
      &.narrow {
        width: 340px;
      }

      &.full {
        width: 100%;
        user-select: none;
      }

      .canvas-wrap {
        width: 300px;
        height: 300px;
        margin: 20px auto 0;
        background: url(../images/bg.png);
      }
    }
  }

  .fn-area {
    padding: 20px 30px 0;

    .in-string {
      padding: 14px 66px 14px 20px;
      background-color: #E9F3F5;
      border-radius: 6px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      
      input {
        border: none;
        outline: none;
        width: 100%;
        background-color: #E9F3F5;
  
        &::-webkit-input-placeholder {
          color: rgb(180, 188, 190);
        }
      }
    }
    
    .trans-btn,
    .download-btn {
      display: block;
      border: none;
      outline: none;
      height: 46px;
      width: 56px;
      line-height: 46px;
      font-size: 18px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #2f92f8;
      color: #fff;
      text-align: center;
      cursor: pointer;
      transition: background-color .3s;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;

      &:not(.disabled):hover {
        background-color: #0f80f0;
      }
    }

    .download-btn {
      position: relative;
      width: 100%;
      font-size: 14px;
      line-height: 52px;
      height: 52px;
      border-radius: 4px;
      margin: 20px auto 0;
      background-color: #28bd8b;

      &:not(.disabled):hover {
        background-color: #14a172;
      }

      &.disabled {
        background-color: #c0e2d7;
        cursor: no-drop;
      }
    }

    .result {
      padding-top: 15px;
      height: 80px;

      textarea {
        width: 100%;
        height: 100%;
        background-color: #E9F3F5;
        resize: none;
        box-sizing: border-box;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 14px 20px;
      }
    }
  }

  .open-source-repo {
    padding: 5px 15px 0;

    .info {
      color: #666;
    }

    table, td {
      border: none;
      margin: 0;
      padding: 0;
    }

    .item-row {
      height: 42px;
      line-height: 42px;
      color: #586069;

      & + .item-row td {
        border-top: 1px solid #f4f4f4;
      }

      .name {
        width: 180px;
        padding-left: 10px;
        white-space: nowrap;
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;

        a {
          color: #2f92f8;
          text-decoration: none;
        }
      }

      .iconfont {
        font-size: 13px;
        margin-right: 4px;
      }

      .star, .forks {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}