.tools-card {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  
  &.dark {
    background-color: #f4f4f4;
    background-image: linear-gradient(180deg, rgb(236, 236, 236), #fefefe);

    >.title {
      border-bottom-color: #eaeaea;
      background-color: #fff;
    }
  }
  
  >.title {
    padding: 18px 20px;
    line-height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    
    .inner {
      font-size: 16px;
      font-weight: bold;

      .iconfont {
        font-weight: normal;
        margin-right: 6px;
      }

      .local {
        font-size: 14px;
        color: #999;
        font-weight: normal;
        margin-left: 5px;
      }
    }

    .details {
      text-align: center;
      color: #999;
    }
  }
  
  .switch {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px;

    .item-btn {
      padding: 12px 26px;
      background-color: #fff;
      border: 1px solid #2f92f8;
      color: #2f92f8;
      cursor: pointer;
      transition: all .3s;
      z-index: 3;

      &.active {
        color: #fff;
        background-color: #2f92f8;
        box-shadow: 0 14px 24px -6px rgb(100, 176, 250), 0 22px 40px 2px rgb(186, 220, 255);
        z-index: 1;
      }

      & + .item-btn {
        border-left: 0;
      }

      &:first-child {
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
      }

      &:last-child {
        border-bottom-right-radius: 22px;
        border-top-right-radius: 22px;
      }
    }
  }
  
  .progress-chart {
    width: 600px;
    margin: 30px auto 0;
  }

}