.tools-card {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  
  &.dark {
    background-color: #f4f4f4;
    background-image: linear-gradient(180deg, rgb(236, 236, 236), #fefefe);

    >.title {
      border-bottom-color: #eaeaea;
      background-color: #fff;
    }
  }
  
  >.title {
    padding: 18px 20px;
    line-height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    
    .inner {
      font-size: 16px;
      font-weight: bold;

      .iconfont {
        font-weight: normal;
        margin-right: 6px;
      }

      .local {
        font-size: 14px;
        color: #999;
        font-weight: normal;
        margin-left: 5px;
      }
    }

    .details {
      text-align: center;
      color: #999;
    }
  }

  .bar-wrap {
    padding: 30px 0;
  }
  
  .progress-chart {
    width: 600px;
    margin: 0 auto;
  }

}