.home-profile {
  min-height: 400px;
  width: 1200px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;

  .card {
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    &.light-gray {
      background-color: #f9f9f9;
    }

    h1 {
      padding: 30px;
      font-size: 18px;
      font-weight: 700;
      color: #333;
      margin: 0 0 15px;

      span {
        font-size: 14px;
        color: #999;
        font-weight: normal;
      }
    }

    .grid {
      padding: 0 30px 40px;
      display: flex;
      justify-content: space-between;

      .cell {
        width: 340px;
        text-align: center;

        .iconfont {
          color: #ea3d1f;
          font-size: 38px;
          height: 90px;
          width: 90px;
          text-align: center;
          line-height: 90px;
          border-radius: 100%;
          background-color: #fff;
          display: block;
          margin: 0 auto;
          box-shadow: 0 4px 18px -4px rgba(0,0,0,.2);
          cursor: default;
          transition: box-shadow .6s;

          &:hover {
            box-shadow: 0 8px 24px -2px rgba(255, 65, 22, 0.3);
          }
        }

        h2 {
          font-size: 16px;
          font-weight: 700;
          line-height: 2;
        }

        p {
          color: #999;
        }
      }
    }
  }
}