.terminal-payload {
  width: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 30px;
  position: relative;

  .poetry {
    color: #444;
    width: 400px;
    
    h2.title {
      text-align: center;
      font-size: 24px;
    }
    
    h3.author {
      font-size: 13px;
      font-style: italic;
      text-align: center;
    }
    
    .content {
      margin-bottom: 30px;
      
      p {
        line-height: 1.5;
        
        &.quota {
          color: #999;
          padding: 10px 20px;
          border-left: 4px solid #82C7B0;
        }
      }
    }
  }

  .pic {
    width: 147px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 25px 50px -10px rgba(0, 0, 0, .4);
    
    img {
      display: block;
      border-radius: 6px;
    }
  }

  .singer, .cooking, .popcorn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #c44f00 url(../images/sing.gif) no-repeat;
    background-size: 100% auto;
    animation: fadeIn .3s;
  }

  .cooking {
    background-color: #99ccff;
    background-image: url(../images/cooking.gif)
  }

  .popcorn {
    background-color: #84ceff;
    background-image: url(../images/popcorn.gif)
  }
}