.app-pic-box {
  padding: 0 25px 25px;
  background-color: #fff;
  margin-bottom: 30px;
  animation: fadeIn .6s;

  .title {
    padding: 20px 0;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    
    .inner {
      font-size: 16px;
      font-weight: 700;
    }
    
    .timestamp {
      color: #aaa;
    }
  }

  .content {
    height: 646px;
    width: 1150px;
    background-color: #f4f4f4;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .detailBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 13px;
      padding: 10px;
      background-color: rgba(0, 0, 0, .4);
      color: #fff;
      cursor: pointer;
      opacity: 0;
      transition: opacity .3s;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, .6);
      }

      i {
        font-size: 14px;
        margin-right: 3px;
      }
    }

    &:hover .detailBtn {
      opacity: 1;
    }
  }
}