@import './variable.scss';

@font-face {
  @include setIconFont(font_156150_zdep54wv3brcnmi);
}

@font-face {
  font-family: 'halofont';
  src: url('../fonts/halo.ttf') format('truetype');
}

.halofont {
  @include fontSetter;
  font-family: 'halofont' !important;
}

.iconfont {
  @include fontSetter;
  font-family: 'iconfont' !important;
  font-size: 20px;
}

body {
  color: $fc;
  font-size: $ft;
  background-color: $bg;

  &:lang(zh-CN) {
    font-family: 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .16);
    background-clip: padding-box;
    border: 3px solid #eff4f8;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #eff4f8;
  }
}

.app-core {
min-width: 1200px;
min-height: 400px;
}

.gitfont {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.app-skew-shadow {
  position: relative;
  
  &:after {
    content: '';
    display: block;
    background-image: linear-gradient(180deg, rgba(0,0,0,.3), transparent);
    height: 40px;
    position: absolute;
    left: 0;
    top: 100%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
  }
}
