@import "./variable.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes upDownMove {
  to {
    transform: translateY(10px);
  }
}

@font-face {
  font-family: 'iconfont';  /* project id 156150 */
  src: url('https://at.alicdn.com/t/font_156150_zdep54wv3brcnmi.eot');
  src: url('https://at.alicdn.com/t/font_156150_zdep54wv3brcnmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_156150_zdep54wv3brcnmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_156150_zdep54wv3brcnmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_156150_zdep54wv3brcnmi.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'halofont';
  src: url('../fonts/halo.ttf') format('truetype');
}

.halofont {
  font-family: "halofont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $fc;
  font-size: $ft;
  background-color: $bg;
  overflow-x: hidden;

  &:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .16);
    background-clip: padding-box;
    border: 3px solid #eff4f8;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #eff4f8;
  }
}

.gitfont {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.app-logo {
  height: 48px;
  width: 48px;
  display: block;
  background: url(../images/logo-bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../images/logo-origin.png) no-repeat;
    background-size: 100% 100%;
  }
}

@keyframes triangleRotate {
  0% {
    transform: rotate( 0deg)
  }
  100% {
    transform: rotate(1080deg)
  }
}

.app-loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 200px;

  .triangle {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: url(../images/triangle.svg) center center no-repeat;
    background-size: 100% auto;
    animation: triangleRotate 3s infinite;
  }
}

.app-error {
  width: 100%;
  padding: 40px 0;

  .title {
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 14px;
  }

  .fail-icon {
    height: 140px;
    background: url(../images/fail-icon.svg) no-repeat center center;
    background-size: auto 100%;
  }
}

.app-skew-shadow:after {
  content: "";
  display: block;
  background-image: linear-gradient(180deg, rgba(0,0,0,.3), transparent);
  height: 40px;
  position: absolute;
  left: 0;
  top: 100%;
  transform: skew(45deg);
  transform-origin: 0 0;
  width: 100%;
}