@keyframes triangleRotate {
  0% {
    transform: rotate( 0deg)
  }
  100% {
    transform: rotate(1080deg)
  }
}

.app-loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 200px;
  .triangle {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: url(../images/triangle.svg) center center no-repeat;
    background-size: 100% auto;
    animation: triangleRotate 3s infinite;
  }
}