.app-core {
  .app-toolbar {
    width: 54px;
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 999;
    transition: box-shadow .3s;
    box-shadow: -3px 3px 24px rgba(0,0,0,.2);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: all .3s;
  
    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
      
    &:hover {
      box-shadow: -3px 3px 24px rgba(0,0,0,.12);
    }
  
    .iconfont {
      width: 54px;
      height: 54px;
      color: #666;
      display: block;
      cursor: pointer;
      line-height: 54px;
      text-align: center;
      background-color: rgba(255,255,255,.9);
      position: relative;

      .girl {
        padding: 10px;
        display: block;
        height: 34px;
        width: 34px;
        background: url(../images/girl.svg) no-repeat center center;
        background-size: 28px;
      }
      
      &:hover {
        background-color: #f9f9f9;
      }
    }
  
    .iconfont + .iconfont:after {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(0,0,0,.06);
      position: absolute;
      top: 0;
      left: 8px;
      right: 8px;
    }
  }
}

.fix-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  cursor: default;

  .menu-item {
    padding: 10px 10px;
    min-width: 120px;
    font-size: 12px;

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}